In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# Visuals
import matplotlib.pyplot as plt
import seaborn as sns

# Models and Metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Make sure we can see the full scale of the data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_excel('UW_Data.xlsx')
df.head()

,ZCTA,2014-16 (3YR AVG) Rate (Intakes),Quintile (Intakes),Flag/Risk Quintile (Intakes),2014-16 (3YR AVG) Rate (Confirmed),Quintile (Confirmed),Flag/Risk Quintile (Confirmed),2016 (<18),MOE (<18),2016 (Education),MOE (Education),2016 (Poverty),MOE (Poverty)
0,78002.0,41.044033,3.0,Medium,8.766687,3.0,Medium,1673.0,495.0,27.162597,5.478911,24.8,9.9
1,78015.0,7.490637,1.0,Low,1.475428,1.0,Low,2937.0,315.0,2.001124,1.19737,1.9,1.5
2,78023.0,10.208778,1.0,Low,0.878624,1.0,Low,7967.0,464.0,5.442213,1.373909,3.2,1.1
3,78069.0,13.576277,1.0,Low,1.607717,1.0,Low,1866.0,522.0,23.582176,4.780033,25.2,9.8
4,78073.0,28.564684,2.0,Med Low,6.01983,2.0,Med Low,2824.0,544.0,36.339371,5.026002,22.8,6.2

In [4]:
# Verify Data Types are proper
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ZCTA                                73 non-null     float64
 1   2014-16 (3YR AVG) Rate (Intakes)    73 non-null     object
 2   Quintile (Intakes)                  73 non-null     object
 3   Flag/Risk Quintile (Intakes)        73 non-null     object
 4   2014-16 (3YR AVG) Rate (Confirmed)  73 non-null     object
 5   Quintile (Confirmed)                73 non-null     object
 6   Flag/Risk Quintile (Confirmed)      73 non-null     object
 7   2016 (<18)                          73 non-null     float64
 8   MOE (<18)                           73 non-null     float64
 9   2016 (Education)                    73 non-null     object
 10  MOE (Education)                     73 non-null     object
 11  2016 (Poverty)                      73 non-null     object
 12  MOE (Poverty)                       73 non-null     object
dtypes: float64(3), object(10)
memory usage: 7.5+ KB

In [5]:
df.shape

(73, 13)